<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Hola, soy estudiante de TICs</h1>
		<p>Aplicaiones web.</p>
		<p>En la ingeniería de software se denomina aplicación web a aquellas herramientas que los usuarios pueden utilizar accediendo a un servidor web a través de Internet o de una intranet mediante un navegador.</p>
	</div>
</div>
